# Journaux
logs                # Dossier des journaux
*.log               # Tous les fichiers avec l’extension .log
npm-debug.log*      # Fichiers de log de debug npm
yarn-debug.log*     # Fichiers de log de debug yarn
yarn-error.log*     # Fichiers d’erreur yarn
pnpm-debug.log*     # Fichiers de log de debug pnpm
lerna-debug.log*    # Fichiers de log de debug lerna

node_modules        # Dossier des dépendances Node.js
dist                # Dossier de distribution
dist-ssr            # Dossier de distribution SSR
*.local             # Fichiers locaux

# Répertoires et fichiers d’éditeur
.vscode/*           # Tous les fichiers dans .vscode
!.vscode/extensions.json # Sauf extensions.json dans .vscode
.idea               # Dossier de configuration JetBrains
.DS_Store           # Fichier système macOS
*.suo               # Fichiers de solution Visual Studio
*.ntvs*             # Fichiers Node.js Tools for Visual Studio
*.njsproj           # Projets Node.js Visual Studio
*.sln               # Fichiers de solution Visual Studio
*.sw?               # Fichiers swap d’éditeur
.env                # Fichier d’environnement
